@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="box">
	<form method="post">
		<span id="main" class="text-center">Anmeldung @Model.Date</span>
		<div class="input-container">
			<input type="text" required="" name="name"/>
			<label>Name</label>
		</div>
		<button type="submit" class="anmeldung-btn">Anmelden</button>
	</form>
</div>
