@using Itech_Attendance.Core.Models;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="post">
        <br />
        <br />
        <h4>Neue Anwesenheit</h4>
        <br />
        <label>
            Klasse:
            <select name="className">
                @foreach (ClassName className in Enum.GetValues(typeof(ClassName)))
                {
                    <option>
                        @className
                    </option>
                }
            </select>
        </label>
        <br />
        <br />
        <label>
            Zeit:
            <input type="time" name="time"/>
        </label>
        <br />
        <button class="anmeldung-btn">Anwesenheit starten</button>
    </form>
</div>
