@{
    ViewData["Title"] = "Home Page";
}

@model SchoolDay

<div class="text-center">
    <form method="post" asp-action="GenerateNewQR">
        <br />
        <br />
        <br />
        <h4>@Model.Date</h4>
        <img src="@Model.QrCode" alt="QR Code" style="width: 300px; height: 300px;" />
        <br />
        <button>Neuer QR-Code</button>
    </form>
</div>
