@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h2>Anmeldung 22.09.2023</h2>
    <br />
    <br />
    <h1>Moin2</h1>
    <input type="text" placeholder="Name"/>
    <br />
    <br />
    <button>Anmelden</button>
</div>
