@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="box">
	<form method="post">
		<span id="main" class="text-center">Login</span>
		<div class="input-container">
			<input type="text" name="username" required="" />
			<label>Benutzername</label>
		</div>
		<div class="input-container">
			<input type="password" name="password" required="" />
			<label>Password</label>
		</div>
		<button type="submit" class="anmeldung-btn">Anmelden</button>
		<br />
		<br />
		<p style="color: white;">Noch nicht registriert?</p>
		<a asp-area="" asp-controller="Home" asp-action="Registration">Registrierung</a>
	</form>
</div>
