@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="box">
	<form>
		<span id="main" class="text-center">Anmeldung 22.09.2023</span>
	<div class="input-container">
		<input type="text" required=""/>
		<label>Name</label>		
	</div>
		<button type="button" class="anmeldung-btn">Anmelden</button>
</form>	
</div>
